@model IEnumerable<LMS.DataModel.Member>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Members";
}
<<<<<<< HEAD

<h2 class="mb-3">Members List</h2>
<a href="/Member/Create" class="btn btn-primary mb-3">Add New Member</a>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Member Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Join Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MemberName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.JoinDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
=======
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Members";
}
@model LMS.ViewModel.MemberVM

<h1>Hey! This is Member Controller Index</h1>

<form asp-action="Index" asp-controller="Member" method="post">

    <label>Member Name</label>
    <input type="text" asp-for="MemberName" placeholder="Enter Member Name" />

    <label>Member Type</label>
    <select asp-for="MemberType">
        <option value="Student">Student</option>
        <option value="Staff">Staff</option>
        <option value="External">External</option>
    </select>

    <label>Address</label>
    <input type="text" asp-for="Address" placeholder="Enter Address" />

    <label>Phone Number</label>
    <input type="text" asp-for="PhoneNumber" placeholder="Enter Phone Number" />

    <label>Email</label>
    <input type="email" asp-for="Email" placeholder="Enter Email Address" />

    <label>Join Date</label>
    <input type="date" asp-for="JoinDate" />

    <label>Expiry Date</label>
    <input type="date" asp-for="ExpiryDate" />

    <label>Status</label>
    <select asp-for="Status">
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
    </select>

    <button type="submit">Submit</button>
</form>
>>>>>>> 0d323f99f8dcd0d9e554e5f27dd629af1015fa09
