@model IEnumerable<LMS.DataModel.Book>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Manage Books";
}

<h2>Book List</h2>
<a href="/Book/Create" class="btn btn-primary mb-2">Add New Book</a>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.Category</td>
        </tr>
    }
</table>
